.objeto {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
}

body{
    background: rgba(217, 217, 217, 0.3);
}

#countries-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colunas */
  gap: 20px; /* Espaçamento entre os cards */
  padding: 20px;
  justify-items: center; /* Centraliza os cards */
}

.card {
  width: 100%;
  max-width: 250px; /* Limita a largura máxima do card */
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.card img {
  border-radius: 8px;
}

.card-body {
  padding: 10px;
}

.card-title {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1em;
  margin-bottom: 15px;
}

.card:hover {
  transform: scale(1.05); /* Efeito de zoom ao passar o mouse sobre o card */
}

.card .btn {
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
}

.card .btn:hover {
  background-color: #0056b3;
}

.display-paises h2 {
  margin-top: 7rem;
  text-align: center;

  color: #000;
  font-family: "Outfit", serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.display-paises p {
  color: #000;
  font-family: "Outfit", serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

@media (max-width: 768px){
  #countries-container {
    grid-template-columns: 1fr;
  }
}