/*codigo da fonte*/
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.objeto {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
}

.container-paises {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*carrousel*/

.img-japao {
  width: 28.875rem;
  height: 23rem;
  margin-top: 4.44rem;
  margin-left: 52.44rem;
}

.img-australia {
  width: 35.25rem;
  height: 23.375rem;
  margin-top: 4.56rem;
  margin-left: 50.19rem;
}

.texto-carrousel-japao h2 {
  color: #000;
  font-family: "Outfit", serif;
  font-size: 4.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.texto-carrousel-japao button {
  margin-left: 6.25rem;
  margin-top: 2.75rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-bottom: 0.69rem;
  padding-top: 0.69rem;
  text-align: center;
  font-family: "Outfit", serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.texto-carrousel-japao p {
  color: rgba(0, 0, 0, 0.7);
  font-family: "Outfit", serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.japao {
  background: #ededed;
  width: 90rem;
  height: 33.5625rem;
}

.japao-caption {
  width: 42.938rem;
  height: 12.438rem;
  margin-left: 6.25rem;
  margin-top: -20rem;
}

.japao-caption h2 {
  margin-bottom: 1.69rem;
}

.carousel-control-prev {
  left: -8rem;
}

.carousel-control-next {
  right: -8rem;
}

.australia {
  background: #000;
  width: 90rem;
  height: 33.5625rem;
}

.australia-caption {
  margin-left: 6.25rem;
  margin-top: -20rem;
}

.australia-caption h2 {
  color: #fff;
  font-family: "Outfit", serif;
  font-size: 4.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.australia-caption p {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Outfit", serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 1.69rem;
}

.texto-carrousel-autralia button {
  margin-left: 6.25rem;
  margin-top: 2.75rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-bottom: 0.69rem;
  padding-top: 0.69rem;
  text-align: center;
  font-family: "Outfit", serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*cards paise*/
.card-container {
  display: flex;
  justify-content: center;

  margin-top: rem;
}

.card {
  width: 20.9375rem;
  height: 19.5625rem;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  padding: 20px;
  margin-bottom: 7.81rem;
}

.card img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  border-radius: 8px;
}

.card h5 {
  margin: 10px 0 0;
  font-size: 20px;
  color: #333;
}

.card-title {
  font-size: 20px;
  color: #333;
}

.card-texto {
  margin-top: 4.56rem;
}

.card-texto h5 {
  color: #000;
  text-align: center;
  font-family: "Outfit", serif;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0.92rem;
}

.card-texto p {
  width: 42.9375rem;
  height: 2.4375rem;
  margin-bottom: 3rem;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  font-family: "Outfit", serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-container h3 {
  margin-top: 1.75rem;
}

.cidade img {
  display: flex;
  background: rgba(0, 0, 0, 0.78);
}

.cidade-texto {
  width: 57.875rem;
  height: 16.313rem;
  margin-top: -22.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cidade h2 {
  color: #fff;
  text-align: center;
  font-family: "Outfit", serif;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 1.44rem;
}

.cidade p {
  color: rgba(255, 255, 255, 0.81);
  text-align: center;
  font-family: "Outfit", serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 2.88rem;
}

.cidade button {
  color: #000;
  justify-content: center;
  text-align: center;
  font-family: "Outfit", serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0.69rem 2.13rem;
}

/*about*/

.about h2 {
  color: #000;
  text-align: center;
  font-family: "Outfit", serif;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 11.6rem;
}

.about img {
  width: 18.0625rem;
  height: 16.5625rem;
}

.card {
  width: 20.9375rem;
  height: 27.75rem;
}

.card img {
  width: 18.0625rem;
  height: 16.5625rem;
  object-fit: cover;
}

/*footer*/

.rodape {
  background: rgba(217, 217, 217, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 0;
}

.rodape img {
  width: 14.375rem;
  height: 5.8125rem;
  margin-top: 2.56rem;
  max-width: 100%;
  height: auto;
}

.texto-rodape {
  margin-top: 1.06rem;

  color: #000;
  text-align: center;
  font-family: "Outfit", serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.texto-link {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  color: #000;
  font-size: 16px;
}

.texto-link:hover {
  color: #1559b7;
}
/*icons*/

.icons {
  display: flex;
  justify-content: center;
  gap: 1.75rem;
  margin: 0 auto;
}

.icons img {
  width: 2.5rem;
  height: 2.5rem;
}

hr {
  width: 90rem;
  height: 0rem;
  flex-shrink: 0;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.26);
  margin-top: 3.69rem;
  margin-bottom: 1.44rem;
}

.rodape p {
  color: #283646;
  text-align: center;
  font-family: "Outfit", serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

/*MOBILE*/

@media (max-width: 768px) {
  .objeto {
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }

  .container-paises {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .carousel-inner {
    width: 100%;
    overflow: hidden;
  }

  .carousel-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    display: none;
  }

  .carousel-item.active {
    display: block;
  }

  .texto-carrousel-japao {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    margin-top: 2rem;
  }

  .img-japao {
    max-width: 25%;
    height: auto;
    margin-left: 1rem;
    margin-top: 11rem;
  }

  .img-australia {
    max-width: 25%;
    height: auto;
    margin-left: 1rem;
    margin-top: 22rem;
  }

  .texto-carrousel-japao h2 {
    color: #000;
    font-family: "Outfit", serif;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: normal;
    margin-right: 2rem;
    max-width: 100%;
    word-wrap: break-word;
  }

  .texto-carrousel-japao p {
    font-size: 1rem;
    margin-bottom: 1rem;
    max-width: 100%;
    word-wrap: break-word;
  }

  .texto-carrousel-japao button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: 2px solid #000;
    color: #000;
    cursor: pointer;
    display: inline-block;
  }

  .texto-carrousel-japao button:hover {
    background-color: #000;
    color: #fff;
  }

  .texto-carrousel-australia p {
    font-size: 1rem;
    margin-bottom: 1rem;
    max-width: 100%;
    word-wrap: break-word;
  }

  .australia-caption h2 {
    font-size: 2.5rem;
  }

  .australia-caption p {
    font-size: 1rem;
  }

  .texto-carrousel-autralia button {
    font-size: 1rem;
  }

  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }

  .carousel-indicators {
    display: flex;
    justify-content: center;
  }

  .card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .card {
    width: 90%;
    margin: 1rem;
    height: auto;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 1rem;
  }

  .card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
  }

  .card h5 {
    font-size: 1.2rem;
  }

  .container-paises.card-texto {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 4rem;
  }

  .container-paises.card-texto h2 {
    font-size: 1.8rem;
    color: #000;
    margin-bottom: 1rem;
  }

  .container-paises.card-texto p {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.7);
    line-height: 1.5;
    max-width: 100%;
    overflow-wrap: break-word;
    margin: 0 auto;
  }

  /* Footer */
  .rodape {
    padding: 1rem;
    text-align: center;
    background: rgba(217, 217, 217, 0.3);
  }

  .rodape img {
    width: 60%;
    height: auto;
  }

  .texto-rodape {
    font-size: 1rem;
    color: #000;
  }

  .texto-link {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: #000;
  }

  .texto-link:hover {
    color: #1559b7;
  }

  /* Ajustes para a div cidade */
  .cidade {
    width: 100%;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    position: relative;
    margin-top: 5rem;
  }

  .cidade-texto {
    text-align: center;
    color: #fff;
    z-index: 1;
    width: 100%;
  }

  .cidade h2 {
    margin-top: 9.3rem;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #000;
  }

  .cidade p {
    font-size: 0.6rem;
    margin-bottom: 2rem;
    color: white;
  }

  .cidade button {
    padding: 0.75rem 2rem;
    background-color: #000000;
    color: #ffffff;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    font-family: "Outfit", serif;
    margin-top: 1rem;
  }

  .cidade img {
    width: 100%;
    height: 150%;
    border-radius: 8px;
    object-fit: cover;
  }

  hr {
    max-width: 100%;
  }
}
